<%- include("header") -%>

<section>
  <div id="into" class="layout">
    <a id="entryPublish" href="/compose">+ New</a>
    <h1>Introduction</h1>
    <p>
      Welcome to my digital corner of the world! This is where I share my
      thoughts, experiences, and passions. Join me as I navigate life's journey,
      one post at a time. Expect a mix of everything from personal anecdotes to
      insights on topics that interest me. Thanks for stopping by!
    </p>
  </div>
  <% for(var i = 0; i< Entry.length; i++){ %>
  <form action="/entry" method="POST" class="entry layout">
    <h1><%= Entry[i].title %></h1>
    <p>
      <%= Entry[i].entry.substring(0,100) %>...
      <button type="submit" name="entryID" value=<%= Entry[i].id %>> Read More</button>
    </p>
  </form>
  <% } %>
</section>
<%- include("footer") -%>
